h1{
    width: 100%;
    text-align: center;
}
h2{
   color: var(--text-color);
}

main{
    flex-direction: column;
}

.cursos-listas li{
    display: grid;
    grid-template-columns: 1fr  1fr;
    background-color: rgb(32 32 32);
    
}

.cursos-listas{
   display: flex;
   flex-direction: column;
}

.cursos-item{
    box-shadow:3px 3px 3px rgb(66,66,66)
}

.cursos-listas img{
   width:100%;
}

.cursos-descricao{
    padding: 12px 32px;
    position: relative;
    overflow: hidden;
}
 span{
    background-color: var(--secondary-color);
    width: 24px;
    height: 6px;
    display: inline-block;
    border-radius: 6px;
 }

 .cursos-item:hover span{
    width: 86px;
    transition: 0.6s ease;
 }
 
 .cursos-descricao ul{
    display: flex;
    gap: 12px;
    margin-top: 32px;
    flex-wrap: wrap;
 }
 .cursos-descricao li{
    background-color: grey;
    border-radius: 6px;
    padding: 16px 12px;
    min-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .cursos-descricao a{
    background-color: var(--secondary-color) ;
    display: inline-block;
    width: 240px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -80px;
    bottom: 20px;
    transform: rotate(-28deg);
    
 }

 @media screen and (max-width: 950px) {
   .cursos-listas li{
      grid-template-columns: 1fr;
   }
   
 }
   
